{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Certificate Issuance by Students
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Certificate Issuance by Students</h3>
                    </div>
                    <!-- /.card-header -->

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Student ID</th>
                                    <th>Student Name</th>
                                    <th>Certificate Type</th>
                                    <th>Issued Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            {% for certificate in certificates %}
                            <tbody>
                                <tr>
                                    <td>{{ certificate.id }}</td>
                                    <td>{{ certificate.student_id.admin.id }}</td>
                                    <td>{{ certificate.student_id.admin.first_name }} {{ certificate.student_id.admin.last_name }}</td>
                                    <td>{{ certificate.certificate_type }}</td>
                                    <td>{{ certificate.issued_date }}</td>
                                    <td>
                                        {% if certificate.certificate_status == 'Pending' %}
                                        <a href="{% url 'approve_certificate' certificate_id=certificate.id %}" class="btn btn-success">Approve</a>
                                        <a href="{% url 'reject_certificate' certificate_id=certificate.id %}" class="btn btn-danger">Reject</a>
                                        {% elif certificate.certificate_status == 'Approved' %}
                                        <button class="btn btn-warning" disabled="disabled">Approved</button>
                                        {% else %}
                                        <button class="btn btn-danger" disabled="disabled">Rejected</button>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                            {% endfor %}

                        </table>
                    </div>

                </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}

{% comment %} Custom JS to Identify the Reply and Post Reply {% endcomment %}

{% block custom_js %}

{% endblock custom_js %}
